
:root {
    --background-color: #ffffff;
    --text-color: #333333;
}

[data-theme="dark"] {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
